<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rover</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div id="branding">Rover</div>
        <nav id="main-menu">
            <ul>
                <li><a href="~">Home</a></li>
                <li><a href="~/Privacy">Privacy</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        &copy; 2022 - <a href="https://leafpuddle.com">leafpuddle</a> and <a href="https://faultybranches.net">FaultyBranches</a>
    </footer>
</body>
</html>