@page "/tcg"
@model TcgModel
@{
    ViewData["Title"] = "Trading Card Game";
}

<div class="center-expand">
    <div class="bauble white center">
        This is the TCG home page.<br><br>
        We should probably eventually write how the TCG works in this space in the future.
    </div>
</div>